body {
    background-color: azure;
    margin-left: 200px;
    margin-right: 200px;
}

h1.title {
    text-align: center;
    font-family: arial;
    font-size: 24pt;
}

h1.title:hover {
    color: white;
    background-color: black;
}

#me {
    width: 35vw;
    float: left;
    margin-right: 20px;
}

#about {
    margin-left: 10px;
}

div.links {
    background-image: url(images/random.gif);
    background-size: 100%;
    background-repeat: no-repeat;
}
p i {
    color: white;
}